
<div>
  <input
    type="text"
    class="px-1.5 py-2 border-2 bg-emerald-200"
    [(ngModel)]="sectionTitle"
  >
  <section>
    <input
      placeholder="platformName"
      type="text"
      class="px-1.5 py-2 border-2 bg-emerald-200"
      [(ngModel)]="newPlatform"
    >
    <input
      placeholder="username"
      type="text"
      class="px-1.5 py-2 border-2 bg-emerald-200"
      [(ngModel)]="newUsername"
    >
    <input
      placeholder="password"
      type="text"
      class="px-1.5 py-2 border-2 bg-emerald-200"
      [(ngModel)]="newPassword"
    >
  </section>

  <button *ngIf="disabled; else btnDisabled" class="p-2 rounded bg-amber-200 text-blue-500"
          [disabled]="!disabled"
          (click)="onCreatePlataform()">Add a platform</button>
  <ng-template #btnDisabled >
    <button
      class="p-2 rounded bg-gray-200 text-gray-500"
      [disabled]="!disabled"
      (click)="onCreatePlataform()">Botao Desabilitado</button>
  </ng-template>
</div>



